.priceFirstDiv {
    margin-top: 80px;
    height: 435px;
}
.priceCategoryDivAll{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px;
}
.priceCategoryDivAll ul {
    list-style-type: none;
    text-align: left;
}
.priceCategoryDivAll li {
    list-style-type: none;
    
}
.priceCategoryDiv1 {
    background-image: url('../../images/hipcravo-5UbIqV58CW8-unsplash.jpg');
}
.priceCategoryDiv2 {
    background-image: url('../../images/daniel-apodaca-WdoQio6HPVA-unsplash.jpg');
}
.priceCategoryDiv3 {
    background-image: url('../../images/penguinuhh-8VI6WwEEEHw-unsplash.jpg');
}