.subHeaderSection {
    background-image: url('../../images/edgar-chaparro-sHfo3WOgGTU-unsplash2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    margin-top: -100px;
}
.cusSubHeader {
    text-align: center;
}
.cusSubHeader h1{
    font-weight: 1500;
    color: white;
}