.joinUsBtn{
    padding: 10px 40px;
    font-weight: bold;
    border: none;
    background-color: #fcd842;
    border-radius: 5px;
}
.joinUsBtn a{
    color: black;
}
.vl {
    border-left: 1px solid gainsboro;
    height: 45%;
}


.headerSection {
    // margin-top: 300px;
    background-image: url('../../images/edgar-chaparro-sHfo3WOgGTU-unsplash3.jpg');
    // background-color: #171426;
    background-size:  cover;   //cover
    background-repeat: no-repeat;
    background-position: center;
    height: 850px;
    margin-top: -100px;
}

.cusHeader2 p{
    font-size: 100px;
    color: gray;
}

.cusHeader2 {
    text-align: center;
}

.cusHeader p{
    color: white;
}

.cusHeader h1{
    font-weight: 700;
    color: white;
}

.cusHeader2 div{
    margin-left: 50%;
}




