.navbar {
    transition: all 0.4s;
    /* position: fixed; */
}

.scrolled {
    /* background-color: dodgerblue; */
    transition: 0.3s;
}

.navbar .nav-link {
    /* color: #fff; */
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
    /* color: #fff; */
    text-decoration: none;
}

.navbar .navbar-brand {
    /* color: #fff; */
}

/* Change navbar styling on scroll */

.navbar.active {
    /* background: #fff; */
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover, .navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

/* Change navbar styling on small viewports */

@media (max-width: 991.98px) {
    .navbar {
        background: rgb(195, 218, 233);
    }
    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.customUl1 span {
    color: white;
    font-weight: 700;
    padding-left: 30px;
}

.customUl1 span:hover {
    color: #fcd842;
}


/* .cusNavItem {
    color: white !important;
} */

/* .header{
    margin-bottom: -100px;
} */
