/* .container{
    height: 500px;
} */

.cusFooterContainer1 {
    margin-top: 300px;
    /* background-image: url('../../images/footer\ background.jpg'); */
    background-color: #171426;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 435px;
}

.cusFooter {
    padding-top: 30px;
}

.cusFooter h6 {
    line-height: 30px;
    // color: #848b9f;
    color: white;
}

.cusFooter h5 {
    padding-bottom: 20px;
    font-weight: bold;
    color: #5fc7c7;
}

footer {
    /* padding-top: 300px; */
    color: #848b9f;
}



.footerIcon img{
    padding: 5px;
}